{% extends '_layouts/cp.twig' %}
{% import '_includes/forms.twig' as forms %}
{% set title = "Fields"|t('app') %}
{% block content %}

  <form method="post">
    {{ csrfInput() }}
    {{ actionInput('loanwords/base/save') }}
    {% if currentSite is defined and currentSite %}
      {{ hiddenInput('siteId', currentSite.id) }}
    {% endif %}

    {{ forms.textField({
      first: true,
      label: "Loanword",
      id: 'loanword',
      name: 'loanword',
      required: true,
      autofocus: true,
    }) }}

    {{ forms.textField({
      label: "Lang",
      id: 'lang',
      name: 'lang',
      required: true,
    }) }}

    {{ forms.lightSwitch({
      label: "Save to all Sites",
      id: 'propagate',
      name: 'propagate',
      default: false,
    }) }}

    <button type="submit" class="submit btn mt-xl">Save</button>
  </form>
{% endblock %}
